.introCard{
  height: fit-content;
  border: none;
  width: 90vw;
  border-bottom: 0.1vw solid black;
  border-radius: 0%;
}

.introCard .card-title {
  font-size: 1vw;
  margin: 0;
  color: black;
}
.introCard .card-text {
  font-size: 1.2vw;
  margin: 0;
  color: black;
}

.introCard .card-text .name {
  font-size: 3vw;
  font-weight: 600;
  margin: 0;
  color: red;
}


.introCard .description {
  font-size: 1vw;
  margin: 0;
  color: black;
}

.introCard .roles {
  font-size: 1vw;
  color: rgb(0, 0, 0);
}



.sidebar{
  width: 5vw;
  margin: 0 2vw 0 0;
  box-shadow: 0px 0.1vw 1vw black;
  height: 90vh;
  position: sticky;
  left: 0%;
  top:10vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.sidebar{
  padding: 0;
}

.sidebar span img{
  width: 4vw;
  cursor: pointer;
}




.bottomBar{
  background-color: rgb(212, 212, 212);
  display: none;
}







/* mobile size responsiveness  */

@media screen and (max-width:700px) {

  .sidebar{
    display: none;
  }

  .bottomBar{
    display:flex;
    justify-content: space-around;
  }

  .bottomBar img{
    width: 7vh;
    margin-bottom: 0;
  }
  
  .bottomBar p{
    font-size: 3vw;
    font-weight: 500;
    font-family: "Fredoka", sans-serif;
    margin-bottom: 1vw;
  }
  



  .introCard{
    height: fit-content;
    border: none;
    width: 100vw;
    border-bottom: 0.3vw solid black;
    border-radius: 0%;
  
  }
  
  .introCard .card-title {
    font-size: 3vw;
    margin: 0;
    color: black;
  }
  .introCard .card-text {
    font-size: 3vw;
    margin: 0;
    color: black;
  }
  
  .introCard .card-text .name {
    font-size: 5vw;
    font-weight: 600;
    margin: 0;
    color: red;
  }
  
  
  .introCard .description {
    font-size: 2.5vw;
    margin: 0;
    color: black;
  }
  
  .introCard .roles {
    font-size: 2.5vw;
    color: rgb(0, 0, 0);
  }

  .introCard img{
    display: none;
  }
  

}